<h1 style="line-height: 28px">Your MapMyData estimate is ready</h1>

<p style="color:#5E5E5E; font-size: 13px;">Hi <%= @order.name %>!</p>
<p style="margin-bottom: 20px; color:#5E5E5E; font-size: 13px;">We finished analyzing the data you provided and this is the final estimate:</p>

<p style="margin:0 0 20px 0;"><strong style="font-family: Arial, sans-serif; font-size: 17px; color:#333;">Order #<%= @order.friendly_id[0, 10] %></strong></p>


<table cellpadding="0" cellspacing="0" border="0" style="margin: 0 0 20px 0;">

  <tr>
    <td style="padding: 0 0 10px 0; font-size:15px; color: #666666;" width="180" valign="top"><%= @order.template.name.capitalize %> map</td>
    <td width="150" valign="top" style="text-align:right; padding: 0 0 10px 0; font-size:15px; color: #E67632;"><%= number_to_currency(@order.template.price, :unit => "USD", :format => "%n %u") %></td>
  </tr> 

  <% @order.order_options.each do |o| %>
  <tr>
      <td style="line-height: 18px; padding: 0 0 10px 0; font-size:15px; color: #666666;" width="180" valign="top"><%= o.template_option.name.humanize %></td>
      <td width="150" valign="top" style="line-height: 18px; text-align:right; padding: 0 0 10px 0; font-size:15px; color: #E67632;"><%= number_to_currency(o.template_option.price, :unit => "USD", :format => "%n %u") %></td>
    </tr>
  <% end %>

  <% if @order.total - @order.starting_from > 0 %>
    <tr>
      <td style="line-height:18x; margin-top:20px; padding: 17px 0 17px 0; border-top: 2px solid #A1A1A1; font-size:15px; color: #666666;" width="180" valign="top">Data processing and specific customization for clients data</td>
      <td width="150" valign="top" style="line-height:18px; margin-top:20px; padding: 17px 0 17px 0; border-top: 2px solid #A1A1A1; text-align:right; font-size:15px; color: #E67632;"><span style="font-size:15px; color: #E67632;"><%= number_to_currency(@order.total - @order.starting_from, :unit => "USD", :format => "%n %u") %></span></td>
    </tr>
  <% end %>
  <tr>
    <td style="line-height:18px; margin-top:20px; padding-top: 20px; border-top: 2px solid #A1A1A1;" width="200" valign="top"><strong style="padding: 0 0 10px 0; font-size:17px; color: #333333;">TOTAL</strong></td>
    <td style="line-height:18px; margin-top:20px; padding-top: 20px; border-top: 2px solid #A1A1A1; text-align:right; font-size:15px; color: #E67632;" width="150" valign="top"><span style="font-size:15px; color: #E67632;"><%= number_to_currency(@order.total, :unit => "USD", :format => "%n %u") %></span></td>
  </tr>
</table>

<p style="margin: 0 0 10px 0; color:#5E5E5E; font-size: 13px;">Are you ok with this estimate?</p>

<p style="margin-bottom: 30px"><a href="http://mapme-staging.herokuapp.com/orders/<%= @order.friendly_id %>/payments/new" style="text-decoration:none; border-bottom: 3px solid #397DB8; font-weight: bold; font-family: Arial, sans-serif; font-size:27px; color: #397DB8;">Order it now</a></p>

<p style="margin: 0 0 30px 0; color:#5E5E5E; font-size: 13px;">If you have any kind of question about it, please reply this email with your comments and we will solve your doubts as soon as possible.</p>

<table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-top: 1px solid #A1A1A1;">
  <tr>
    <td style="padding: 10px 20px; font-size:13px; color:#5E5E5E;"><a style="font-size:13px; color: #397DB8; text-decoration:none;" href="#">Follow us</a> on twitter </td>
    <td style="padding: 10px 20px; text-align:right;"><a style="font-size:13px; color: #397DB8; text-decoration:none;" href="http://www.mapmydata.co">http://www.mapmydata.co</a></td>
  </tr>
</table>
