<h1 style="line-height: 28px">Your MapMyData estimate request has been received</h1>

<p style="color:#5E5E5E; font-size: 13px;">Hi <%= @order.name %>!</p>
<p style="color:#5E5E5E; font-size: 13px;">Just wanted to confirm we have registered your MapMyData estimate request:</p>

<p style="margin:0 0 15px 0;"><strong style="font-size: 17px; color:#333;">Order #<%= @order.friendly_id[0, 10] %></strong></p>

<table cellpadding="0" cellspacing="0" border="0" style="margin: 0 0 20px 0;">

  <tr>
    <td style="padding: 0 0 10px 0; font-size:15px; color: #666666;" width="180" valign="top"><%= @order.template.name.capitalize %> map</td>
    <td width="150" valign="top" style="text-align:right; padding: 0 0 10px 0; font-size:15px; color: #E67632;"><%= @order.template.price %> USD</td>
  </tr> 

  <% @order.order_options.each do |o| %>
    <tr>
      <td style="padding: 0 0 10px 0; font-size:15px; color: #666666;" width="180" valign="top"><%= o.template_option.name.humanize %></td>
      <td width="150" valign="top" style="text-align:right; padding: 0 0 10px 0; font-size:15px; color: #E67632;"><%= o.template_option.price %> USD</td>
    </tr>
  <% end %>

  <tr style="border-bottom: 2px solid #CCCCCC;">
    <td style="padding: 0 0 10px 0;" width="180" valign="top"><strong style="font-size:17px">Provisional estimate</strong></td>
    <td width="150" valign="top" style="text-align:right; padding: 0 0 10px 0; font-size:15px; color: #E67632;"><span style="font-size:15px; color: #E67632;">Starting on <%= @order.starting_from %> USD</span></td>
  </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0">
  <tr>
    <td>
      <p style="color:#5E5E5E; font-size: 13px;">We are analyzing the data you provided, you will receive a definitive estimate in some days. Check your order status at <a href="http://mapme-staging.herokuapp.com/orders/<%= @order.friendly_id %>" style="color: #397DB8; text-decoration:none;">mapmydata.com/orders/123456</a> </p>
      <p style="color:#5E5E5E; font-size: 13px;">Looking forward to work for you :-)</p>
    </td>
  </tr>
</table>
