<div class="explanation">
  This is a test
</div>

<div class="demo">
  <h3>Contact</h3>

  <div class="contact">
    <div class="inner">
      <h2 class="section_title">&mdash; Contact us &mdash;</h2>

      <form action="#">
        <ul>
          <li>
          <label for="name">Your name/company</label>
          <div class="input-field">
            <input type="text" name="contact[name]" />
          </div>
          </li>
          <li>
          <label for="email">Your email</label>
          <div class="input-field">
            <input type="text" name="contact[email]" />
          </div>
          </li>
          <li>
          <label for="question">What would you like to know?</label>
          <div class="textarea">
            <textarea name="contact[question]"></textarea>
          </div>
          </li>
        </ul>

        <a href="#" class="button blue"><span>Send message</span></a>
      </form>
      <a href="#" class="close"></a>
    </div>
  </div>

</div>

<div class="demo">
  <h3>Buttons</h3>

  <%= snippet %(
  <a href="#" class="button blue">
    <span>CONFIRM AND ASK FOR A BUDGET</span>
  </a>), { :comment => '— This is the <strong>canonical</strong> way for creating buttons.', :snippet_class => :dark } %>

  <%= snippet %(
  <a href="#" class="button gray">
    <span>Hi, I'm a button</span>
  </a>), { :comment => '— This is the <strong>canonical</strong> way for creating buttons.', :snippet_class => :dark } %>

  <%= snippet %(
  <a href="#" class="btn disabled">
    <span>Hi, I'm a disabled button</span>
  </a>) %>

</div>

<div class="demo">
  <h3>Checkboxes and radiobuttons</h3>

  <%= snippet %(
  <a href="#" class="radio checked"\n data-name="test">
    A radio button
  </a>

  <a href="#" class="radio"\n data-name="test">
    Another radio button
  </a>), { :comment => "— Don't forget to add the data-name", :snippet_class => :dark } %>

  <%= snippet %(
  <a href="#" class="radio checked"\n data-name="test-2">
    A radio button
  </a>

  <a href="#" class="radio"\n data-name="test-2">
    Another radio button
  </a>) %>

  <%= snippet %(
  <a href="#" class="radio disabled checked"\n data-name="test-2">
    A disabled and checked radio button
  </a>

  <a href="#" class="radio disabled"\n data-name="test-2">
    A disabled radio button
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox">
    This is a checkbox
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox checked">
    This is a selected checkbox
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox disabled">
    This is a diabled checkbox
  </a>) %>

  <%= snippet %(
  <a href="#" class="checkbox checked disabled">
    This is a diabled checked checkbox
  </a>) %>

</div>

<div class="demo">
  <h3>Forms</h3>


  <%= snippet %(
  <div class="input-field">
    <input type="text" />
  </div>
  ) %>

  <%= snippet %(
  <div class="textarea">
    <textarea></textarea>
  </div>
  ) %>

  <%= snippet %(
  <div class="input-field error">
    <input type="text" />
  </div>
  ) %>

  <%= snippet %(
  <div class="textarea error">
    <textarea></textarea>
  </div>
  ) %>

</div>

