<section class="characteristics">
<div class="inner">

  <div class="how_does_it_work">
    <h2><%= t('.how_does_it_work.title') %></h2>

    <div class="box">
      <p><%= t('.how_does_it_work.explanation_1') %></p>
    </div>

    <div class="box">
      <p><%= t('.how_does_it_work.explanation_2') %></p>
      <%= link_to t('.how_does_it_work.order_your_map'), new_order_path %>
    </div>

    <div class="box last">
      <p><%= t('.how_does_it_work.explanation_3') %></p>
    </div>

  </div>

  <div class="why_mapme">
    <h2><%= t('.why_mapme.title') %></h2>

    <div class="box">
      <h3><%= t('.why_mapme.reason_1.title') %></h3>
      <p><%= t('.why_mapme.reason_1.description') %></p>
    </div>

    <div class="box">
      <h3><%= t('.why_mapme.reason_2.title') %></h3>
      <p><%= t('.why_mapme.reason_2.description') %></p>
    </div>

    <div class="box last">
      <h3><%= t('.why_mapme.reason_3.title') %></h3>
      <p><%= t('.why_mapme.reason_3.description') %></p>
    </div>

    <div class="box">
      <h3><%= t('.why_mapme.reason_4.title') %></h3>
      <p><%= t('.why_mapme.reason_4.description') %></p>
    </div>

    <div class="box">
      <h3><%= t('.why_mapme.reason_5.title') %></h3>
      <p><%= t('.why_mapme.reason_5.description') %></p>
    </div>

    <div class="box last">
      <h3><%= t('.why_mapme.reason_6.title') %></h3>
      <p><%= t('.why_mapme.reason_6.description') %></p>
    </div>
  </div>
</div>
</section>
