<footer>
<h2><%= t('.footer.title') %></h2>

<ul class="understand">
  <li>
  <span><%= t('.footer.understand.title') %></span>
  </li>
  <li><%= link_to t('.footer.understand.how_it_works'), '#' %></li>
  <li><%= link_to t('.footer.understand.why_mapme'), '#' %></li>
  <li><%= link_to t('.footer.understand.faq'), '#' %></li>
</ul>

<ul class="see_results">
  <li>
  <span><%= t('.footer.see_results.title') %></span>
  </li>
  <li><%= link_to t('.footer.see_results.showcase'), '#' %></li>
  <li><%= link_to t('.footer.see_results.order_your_map'), '#' %></li>
  <li><%= link_to t('.footer.see_results.blog'), '#' %></li>
</ul>

<ul class="know_more">
  <li>
  <span><%= t('.footer.know_more.title') %></span>
  </li>
  <li><%= link_to t('.footer.know_more.contact_us'), '#' %></li>
</ul>

</footer>
