<footer>
<div class="inner">
  <h2 class="logo"><%= t('.title') %></h2>

  <nav>
  <ul class="understand">
    <li><strong><%= t('.understand.title') %></strong></li>
    <li><%= link_to t('.understand.how_it_works'), '#' %></li>
    <li><%= link_to t('.understand.why_mapme'), '#' %></li>
    <li><%= link_to t('.understand.faq'), faq_index_path %></li>
  </ul>

  <ul class="see_results">
    <li><strong><%= t('.see_results.title') %></strong></li>
    <li><%= link_to t('.see_results.showcase'), '#' %></li>
    <li><%= link_to t('.see_results.order_your_map'), '#' %></li>
    <li><%= link_to t('.see_results.blog'), '#' %></li>
  </ul>

  <ul class="know_more">
    <li><strong><%= t('.know_more.title') %></strong></li>
    <li><%= link_to t('.know_more.contact_us'), '#' %></li>
  </ul>
  </nav>
</div>
</footer>
