<header>
<div class="inner">
  <%= link_to 'MapMyData', root_path, :class => :logo %>
  <%= render :partial => 'home/nav' %>

  <hgroup>
  <h1><%= t('.title') %></h1>
  <p><%= raw t('.subtitle') %></p>
  <%= link_to (content_tag :strong, t('.order_your_map')), "orders/new/markers", :class => "button gray" %>
  </hgroup>
</div>

<div class="shadow bottom"></div>
<div class="computer">
  <%= image_tag 'backgrounds/bg-computer-1.png' %>
  <%= image_tag 'backgrounds/bg-computer-2.png' %>
  <%= image_tag 'backgrounds/bg-computer-3.png' %>
</div>
</header>
