<header>
  <%= link_to 'MapMe!', root_path, :class => 'logo' %>

  <nav>
    <ul>
    	<li><%= link_to t('.header.menu.how_does_it_work'), '#' %></li>
    	<li><%= link_to t('.header.menu.why_mapme'), '#' %></li>
    	<li><%= link_to t('.header.menu.showcase'), '#' %></li>
    	<li><%= link_to t('.header.menu.order_your_map'), new_order_path %></li>
    	<li><%= link_to t('.header.menu.faq'), '#' %></li>
    </ul>
  </nav>

  <h1><%= t('.header.title') %></h1>
  <p><%= t('.header.subtitle') %></p>

  <%= link_to t('.header.order_your_map'), new_order_path, :class => 'order_your_map' %>
</header>

<div class="how_does_it_work">
  <h2><%= t('.how_does_it_work.title') %></h2>

  <div class="explanation">
    <p><%= t('.how_does_it_work.explanation_1') %></p>
  </div>

  <div class="explanation">
    <p><%= t('.how_does_it_work.explanation_2') %></p>
    <%= link_to t('.how_does_it_work.order_your_map'), new_order_path %>
  </div>

  <div class="explanation">
    <p><%= t('.how_does_it_work.explanation_3') %></p>
  </div>

</div>

<div class="why_mapme">
  <h2><%= t('.why_mapme.title') %></h2>

  <div class="reason">
    <h3><%= t('.why_mapme.reason_1.title') %></h3>
    <p><%= t('.why_mapme.reason_1.description') %></p>
  </div>

  <div class="reason">
    <h3><%= t('.why_mapme.reason_2.title') %></h3>
    <p><%= t('.why_mapme.reason_2.description') %></p>
  </div>

  <div class="reason">
    <h3><%= t('.why_mapme.reason_3.title') %></h3>
    <p><%= t('.why_mapme.reason_3.description') %></p>
  </div>

  <div class="reason">
    <h3><%= t('.why_mapme.reason_4.title') %></h3>
    <p><%= t('.why_mapme.reason_4.description') %></p>
  </div>

  <div class="reason">
    <h3><%= t('.why_mapme.reason_5.title') %></h3>
    <p><%= t('.why_mapme.reason_5.description') %></p>
  </div>

  <div class="reason">
    <h3><%= t('.why_mapme.reason_6.title') %></h3>
    <p><%= t('.why_mapme.reason_6.description') %></p>
  </div>

</div>

<div class="showcase">
  <h2><%= t('.showcase.title') %></h2>
  <%= link_to '', '#', :class => 'previous' %>
  <div class="gallery">
  	<img src="" alt="" />
  	<img src="" alt="" />
  	<img src="" alt="" />
  	<img src="" alt="" />
  	<img src="" alt="" />
  	<img src="" alt="" />
  	<img src="" alt="" />
  </div>
  <%= link_to '', '#', :class => 'next' %>
</div>

<div class="interested">
  <h2><%= t('.interested.title') %></h2>
  <%= link_to t('.interested.order_your_map'), new_order_path %>
</div>

<footer>
  <h2><%= t('.footer.title') %></h2>

  <ul class="understand">
    <li>
    	<span><%= t('.footer.understand.title') %></span>
    </li>
  	<li><%= link_to t('.footer.understand.how_it_works'), '#' %></li>
  	<li><%= link_to t('.footer.understand.why_mapme'), '#' %></li>
  	<li><%= link_to t('.footer.understand.faq'), '#' %></li>
  </ul>

  <ul class="see_results">
    <li>
    	<span><%= t('.footer.see_results.title') %></span>
    </li>
  	<li><%= link_to t('.footer.see_results.showcase'), '#' %></li>
  	<li><%= link_to t('.footer.see_results.order_your_map'), '#' %></li>
  	<li><%= link_to t('.footer.see_results.blog'), '#' %></li>
  </ul>

  <ul class="know_more">
    <li>
    	<span><%= t('.footer.know_more.title') %></span>
    </li>
  	<li><%= link_to t('.footer.know_more.contact_us'), '#' %></li>
  </ul>

</footer>
