<%= f.hidden_field :template_type, :id => "default-page" %>

<section id="upload" class="highlighted">
<div class="inner">
  <div class="left">
    <h3 class="bottom-5"><%= t('.your_data.title') %></h3>
    <p class="bottom-20"><%= t('.your_data.description') %></p>

    <div id="file-uploader"></div>

  </div>
</div>
</section>

<section class="comments">
<div class="left">

  <div class="inner">
    <div class="field left">
      <label<%= " class='error'" if @order.errors[:name].any? %> for="name"><%= t('.contact_info.name') %><%= raw "<span>#{ @order.errors[:name].first }</span>" if @order.errors[:name].any? %></label>
      <div class="input-field<%= " error" if @order.errors[:name].any? %>">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="field right">
      <label<%= " class='error'" if @order.errors[:email].any? %> for="email"><%= t('.contact_info.email') %><%= raw "<span>#{ @order.errors[:email].first }</span>" if @order.errors[:email].any? %></label>
      <div class="input-field<%= " error" if @order.errors[:email].any? %>">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="field long">
      <label for="comments"><%= t('.contact_info.comments') %></label>
      <div class="textarea">
        <%= f.text_area :comments %>
      </div>
    </div>
  </div>
</div>

</section>

<section class="submit centered">
<div class="inner">
  <%= f.submit t('.submit'), :class => "button blue" %>
</div>
</section>
