<%= f.hidden_field :template_type, :id => "default_page" %>
<%= hidden_field :template, :name, :id => "default_name"  %>

<section id="upload" class="highlighted">
<div class="inner">
  <div class="left">
    <h3 class="bottom-5"><%= t('.your_data.title') %></h3>
    <p class="bottom-20"><%= t('.your_data.description') %></p>

    <div id="file-uploader"></div>

  </div>
</div>
</section>

<section class="comments">
<div class="left">

  <div class="inner">
    <div class="field name left">
      <label><%= t('.contact_info.name') %></label>
      <div class="input-field<%= " error" if @order.errors[:name].any? %>">
        <%= f.text_field :name %>
      </div>
    </div>

    <div class="field email right">
      <label><%= t('.contact_info.email') %></label>
      <div class="input-field<%= " error" if @order.errors[:email].any? %>">
        <%= f.text_field :email %>
      </div>
    </div>

    <div class="field comments long">
      <label for="comments"><%= t('.contact_info.comments') %></label>
      <div class="textarea">
        <%= f.text_area :comments %>
      </div>
    </div>
  </div>
</div>

</section>

<section class="submit centered">
<div class="inner">
  <%= f.submit t('.submit'), :class => "button blue" %>
</div>
</section>
