<%= form_for @order do |f| %>
  <h3><%= t('.creating_order') %></h3>
  <h1><%= t('.select_your_template') %></h1>

  <ul id="templates-list">
    <% @templates_list.each do |template| -%>
      <li>
        <%= link_to t(".templates-list.#{template.name}"),    '#', :class => template.name %>
      </li>
    <% end -%>
  </ul>

  <ul id="templates-detail">
    <li class="template selected">
      <p><%= t('.templates-detail.select_one_type') %></p>
    </li>

    <% @templates_list.each do |template| -%>
    <li class="template <%= template.name %>">
      <h4><%= t(".templates-detail.#{template.name}.title") %></h4>
      <p><%= t(".templates-detail.#{template.name}.description") %></p>
      <span class="price"><%= t(".templates-detail.#{template.name}.price", :price => template.price) %></span>

      <ul class="options">
        <% template.options.each do |option| -%>
          <li>
            <%= f.fields_for :order_options, @order.order_options.build do |ff| %>
              <%= ff.check_box :template_option_id, :value => option.id %>
              <%= ff.label :template_option_id,t(".templates-detail.#{template.name}.options.#{option.name}.name") %>
              <span class="label_price">(<%= t(".templates-detail.#{template.name}.options.#{option.name}.price", :price => option.price) %>)</span>
              <p><%= t(".templates-detail.#{template.name}.options.#{option.name}.description") %></p>
              <div class="ellipsis">...</div>
              <div class="option_price"><%= t(".templates-detail.#{template.name}.options.#{option.name}.price", :price => option.price) %></div>
            <% end -%>
          </li>
        <% end -%>
      </ul>

      <div class="total">
        <h3><%= t('.total.title') %></h3>
        <div class="ammount"><%= t('.total.ammount_html', :price => template.price) %></div>
      </div>
    </li>
    <% end -%>
  </ul>

  <div class="your_data">
    <h3><%= t('.your_data.title') %></h3>
    <p><%= t('.your_data.description') %></p>

    <div class="upload">
      <span><%= t('.your_data.drag_drop') %></span>
      <%= link_to t('.your_data.select_files'), '#' %>
    </div>

  </div>

<% end %>
