<div class="bg-map"></div>

<%= render :partial => 'common/header' %>

<%= form_for @order, :remote => true, :html => { :'data-type' => 'json' }   do |f| %>

  <div class="navigation"></div>

  <div class="map">

    <div class="browser">
      <div class="canvas">
        <div id="map"></div>
      </div>
    </div>

    <div class="dontknow">
      <div class="message">
        <h2> Don’t know which template to select?</h2>
        <p>Don’t worry, we can select the one that best fits your data.</p>
      </div>
      <div class="browsers"></div>
      <div class="bubble"></div>
    </div>

    <div class="shadow bottom"></div>

  </div>

  <div id="container"></div>
  <a href="#" class="circle"></a>

  <%= render :partial => 'form', :locals => { :f => f }  %>

<% end %>

<%= render :partial => 'home/footer' %>

<% content_for :js do %>
  <%= render :partial => 'js' %>
<% end %>
