

<div class="bg-map"></div>

<%= render :partial => 'orders/header' %>

<%= form_for @order do |f| %>
  <ul class="templates">
    <% @templates_list.each do |template| -%>
      <li><%= link_to t(".templates-list.#{template.name}"), '#', :class => template.name %></li>
    <% end -%>
  </ul>

  <div class="map">

    <div class="browser"></div>

    <div class="shadow bottom"></div>
  </div>

  <section class="dark">
  <div class="left border">
    <div class="inner">
      <h3>Density map</h3>
      <p>Includes data process &amp; visualization.</p>
    </div>
  </div>

  <div class="right">
    <div class="inner">
      <span class="price">$2000</span>
    </div>
  </div>
  </section>

  <section>
  <div class="left border">
    <div class="inner">

      <h3 class="bottom-20">Visualization method</h3>

      <ul class="prices">
        <li>
        <a href="#" name="method" class="radio">Rectangular grid</a>
        <p class="description">Group and represent data using a rectangular grid</p>
        </li>

        <li>
        <a href="#" name="method" class="radio">Hexagonal grid</a>
        <p class="description">Group and represent data using an hexagonal grid</p>
        </li>

        <li class="separator">
        <a href="#" name="method" class="checkbox">Variable selection</a>
        <p class="description">This allows your users to toggle between different variables to visualize.</p>
        </li>
      </ul>

    </div>
  </div>
  </section>

  <section>
  <div class="left border">
    <div class="inner">
      <h3 class="total">Total</h3>
    </div>
  </div>
  <div class="right">
    <div class="inner">
      <span class="price">Starting from $2550</span>
    </div>
  </div>
  </section>


  <section class="hidden">
  <div class="inner">
    <ul id="templates-detail">
      <li class="template selected">
      <p><%= t('.templates-detail.select_one_type') %></p>
      </li>

      <% @templates_list.each do |template| -%>
        <li class="template <%= template.name %>">
        <%= f.hidden_field :template_type, :value => template.id, :disabled => true %>
        <h4><%= t(".templates-detail.#{template.name}.title") %></h4>
        <p><%= t(".templates-detail.#{template.name}.description") %></p>

        <% if template.price.present? -%>
          <span class="price"><%= t(".templates-detail.#{template.name}.price", :price => template.price) %></span>
        <% end -%>

        <% if template.visualization_methods.present? -%>
          <h4><%= t('.templates-detail.visualization_method') %></h4>
          <ul class="visualization_method">
            <% template.visualization_methods.each do |visualization_method| -%>
              <li>
              <%= f.radio_button :visualization_method, :value => visualization_method.id %>
              <%= f.label :visualization_method, t(".templates-detail.visualization_methods.#{visualization_method.name}.name") %>
              <p>
              <%= t(".templates-detail.visualization_methods.#{visualization_method.name}.description") %>
              </p>
              </li>
            <% end -%>
          </ul>
        <% end -%>

        <ul class="options">
          <% template.options.each do |option| -%>
            <li>
            <%= f.fields_for :order_options, @order.order_options.build do |ff| %>

              <%= checkbox ff, :template_option_id, option.name, option.id %>


              <span class="label_price">(<%= t(".templates-detail.template_options.#{option.name}.price", :price => option.price) %>)</span>

              <p><%= t(".templates-detail.template_options.#{option.name}.description") %></p>
              <div class="ellipsis">...</div>
              <div class="option_price"><%= t(".templates-detail.template_options.#{option.name}.price", :price => option.price) %></div>
            <% end -%>
            </li>
          <% end -%>
        </ul>

        <% if template.price.present? -%>
          <div class="total">
            <%= f.hidden_field :total, :disabled => true %>
            <h3><%= t('.total.title') %></h3>
            <div class="ammount"><%= t('.total.ammount_html', :price => template.price) %></div>
          </div>
        <% end -%>
        </li>
      <% end -%>
    </ul>
  </div>
  </section>

  <section class="highlighted">
  <div class="inner">
    <div class="left">
      <h3 class="bottom-5"><%= t('.your_data.title') %></h3>
      <p class="bottom-20"><%= t('.your_data.description') %></p>

      <div class="input-field upload">
        <input type="text" />
        <div class="placeholder">
          <div class="icon"></div>
          <span><%= t('.your_data.drag_drop') %></span>
          <%= link_to t('.your_data.select_files'), '#' %>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="comments">
  <div class="left">

    <div class="inner">
      <div class="field left">
        <label for="name"><%= t('.contact_info.name') %></label>
        <div class="input-field">
          <input type="text" value="" name="name" />
        </div>
      </div>


      <div class="field right">
        <label for="email"><%= t('.contact_info.email') %></label>
        <div class="input-field">
          <input type="text" value="" name="email" />
        </div>
      </div>

      <div class="field">
        <label for="comments"><%= t('.contact_info.comments') %></label>
        <div class="textarea">
          <textarea value="" name="comments"></textarea>
        </div>
      </div>
    </div>
  </div>

  </section>

  <section class="submit centered">
  <div class="inner">
    <%= f.submit t('.submit'), :class => "button blue" %>
  </div>
  </section>

<% end %>

<%= render :partial => 'home/footer' %>
