<% content_for :title do %>
  Order #<%= @order.friendly_id[0, 10] %> status | MapMyData
<% end %>

<div class="bg-map"></div>

<%= render :partial => 'common/header' %>

<div id="receipt">

  <section>
  <h3 class="name">Hi <%= @order.name %>,</h3>
  <p>This is your map tracker page. Here you will be able to see the progress of your map.</p>
  </section>

  <section>
  <h3>Order #<%= @order.friendly_id[0, 10] %> summary <span class="date"><%= l @order.created_at, :format => :pretty %> </span></h3>
  <ul>
    <li><%= @order.template.name.humanize.capitalize %> map <%= raw "with&hellip;" if @order.order_options.size > 0 %> <span class="price">$<%= @order.template.price %></span>
    <ul>
      <% @order.order_options.each do |o| %>
        <li><%= o.template_option.name.humanize %> <span class="price">$<%= o.template_option.price %></span></li>
      <% end %>

      <% if @order.visualization_method %>
        <li><%= @order.visualization_method.name.humanize %></li>
      <% end %>

    </ul>
  </ul>

  <% if @order.ready_for_payment? || @order.paid? %>
    <div class="additional">
      Additional charges (data formatting, special visualization needs, etc.) <div class="price">$<%= @order.total - @order.starting_from %></div>
    </div>
  <% end %>

  <div class="total">
    <% if @order.ready_for_payment? || @order.paid? %>
      <strong>TOTAL</strong> <div class="price">$<%= @order.total %></div>
    <% else %>
      <strong>TOTAL</strong> <div class="price">$<%= @order.starting_from %></div>
    <% end %>
  </div>

  <% if !@order.ready_for_payment? and !@order.paid? %>
    <div class="stamp order-received"></div>
  <% end %>

  </section>

  <% if !@order.ready_for_payment? and !@order.paid? %>
    <section class="highlighted centered">
    <h3>We are analyzing your data.</h3>
    <p>In order to give you a price based on the time we will need to proccess and visualize it, we need to take a look at your data first. Once we finish, we will contact you -and update this page- with the definitive budget, which you will approve or discard.</p>
    <p>Do you think that is taking us too much time? <a href="mailto:contact@mapmydata.co">Contact us</a></p>
    </section>
  <% end %>

<% if @order.ready_for_payment? and !@order.paid? %>

  <section class="highlighted dark">
  <h3>Your final price <span class="price">$<strong><%= @order.total %></strong></span></h3>

  <p>
  After analyzing your data we’ve defined a final price for your map.
  Your price may have been increased from the original estimate because of additional tasks or resources, like data cleaning & formatting or special visualization needs.
  </p>

  <p class="bottom-30">
  If you agree with this price, please procceed to the payment screen and 
  we will start working inmediately on your map.
  </p>

  <%= link_to "Proceed to payment ($#{@order.total})", new_order_payment_path(@order), :class => "blue button" %>
  
  <span class="writeus">or <a href="mailto:contact@mapmydata.co">write us an email with your questions</a>.</span>

  </section>

<% end %>

<% if @order.paid? %>

  <section class="paid">
    <h3>Your payment has been received</h3>
    <p> We’ve received your payment correctly. Your map will be ready in a couple of days. If you have any question, don’t hesitate in <a href="mailto:contact@mapmydata.co">contacting us</a>.</p>
    <div class="stamp_paid order-received"></div>
  </section>

<% end %>

  <div class="t"></div>
  <div class="b"></div>
</div>

<%= render :partial => 'home/footer' %>

<% content_for :adwords do %>
<script type="text/javascript">
  /* <![CDATA[ */
    var google_conversion_id = 995914353;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "KpHnCLfArgMQ8eTx2gM";
    var google_conversion_value = 0;
    /* ]]> */
  </script>
  <script type="text/javascript" src="http://www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="http://www.googleadservices.com/pagead/conversion/995914353/?value=0&amp;label=KpHnCLfArgMQ8eTx2gM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>
<% end %>
