<div class="bg-map"></div>

<%= render :partial => 'common/header' %>

<div id="receipt">

  <section>
  <h3 class="name">Hi <%= @order.name %>,</h3>
  <p>This is your map tracker page. Here you will be able to see the progress of your map.</p>
  </section>

  <section>
  <h3>Your order summary <span class="date"><%= l @order.created_at, :format => :pretty %> </span></h3>
  <ul>
    <li><%= @order.template.name.capitalize %> map <%= raw "with&hellip;" if @order.order_options.size > 0 %> <span class="price">$<%= @order.template.price %></span>
    <ul>
      <% @order.order_options.each do |o| %>
        <li><%= o.template_option.name.humanize %> <span class="price">$<%= o.template_option.price %></span></li>
      <% end %>

      <% if @order.visualization_method %>
        <li><%= @order.visualization_method.name.humanize %></li>
      <% end %>
    </ul>


  </ul>

  <div class="total">
    <% if @order.paid? %>
      <strong>TOTAL</strong> <div class="price">$<%= @order.total %></div>
    <% else %>
      <strong>TOTAL</strong> <div class="price">Starting from $<%= @order.starting_from %></div>
    <% end %>
  </div>

  <div class="stamp"></div>
  </section>

  <% if !@order.ready_for_payment? and !@order.paid? %>
  <section class="highlighted centered">
    <h3>We are analyzing your data.</h3>
    <p>In order to give you a price based on the time we will need to proccess and visualize it we need to take a look at your data first. Once we finish, we will contact you -and update this page- with the definitive budget, which you will approve or discard.</p>
    <p>Do you think that is taking us too much time? <a href="#">Contact us</a></p>
  </section>
  <% end %>


<% if @order.ready_for_payment? and !@order.paid? %>

  <section class="highlighted dark">
  <h3>Your final price <span class="price">$<%= @order.total %></span></h3>

  <p>
  After analyzing your data we’ve defined a final price for your map.
  Your price has been increased by the amount of data you have and the 
  cleanning tast that we will need to do before visualizing your data.
  </p>

  <p class="bottom-30">
  If you agree with this price, please procceed to the payment screen and 
  we will start working inmediately on your map.
  </p>

  <%= link_to "Proceed to payment ($#{@order.total})", new_order_payment_path(@order), :class => "blue button" %>

  </section>

<% end %>

<% if @order.paid? %>

  <section class="paid">
    <h3>Your payment has been received</h3>
    <p> We’ve received your payment correctly. Your map will be ready in a couple of days. If you have any question, don’t hesitate in contacting us.  </p>
  </section>

<% end %>

  <div class="t"></div>
  <div class="b"></div>
</div>

<%= render :partial => 'home/footer' %>
