<%= render :partial => 'common/header' %>

<% content_for :title do %>
  Frequently Asked Questions | MapMyData
<% end %>

<section class="questions">
<div class="inner">

  <ul>
    <li id="what_is_mapmydata">
    <h3>What is MapMyData?</h3>
    <p>We are a data mapping and visualization service that will allow you, for a fraction of the cost that competitors charge, to map your data in beautiful and meaningful ways, and allow you to digitally and interactively display that data on the web as well as the most popular Android and iOS devices.</p>
    </li>

    <li id="how_does_it_work">
    <h3>How does it work? </h3>
    <p>We made MapMyData with the intention of providing the most user friendly experience to our clients at low prices . To begin, you simply choose a starting template, add in the features that you want included, and upload your data. Next, our team of mapping experts analyzes your data and send you a quote. After you confirm your interest, we get to work on your map, and will have it ready for you in a matter of days. </p>
    </li>

    <li id="who_is_behind_it">
    <h3>Who is behind it?</h3>
    <p>MapMyData is a product of Vizzuality. We’ve been working to innovate in the online mapping and geospatial / GIS since 2007. All our maps are deployed using CartoDB, our Open Source technology, which is used by such clients as NASA, the United Nations and the Wall Street Journal to name a few.</p>
    </li>

  </ul>

</div>
</section>

<h2 class="section_title">&mdash; <%= t('.service') %> &mdash;</h2>

<section class="service">
<div class="inner">

  <ul>
    <li id="can_you_help_me_to_decide">
    <h3>Can you help me to decide how to visualize my data?</h3>
    <p>Absolutely! If you’re not sure how best to visualize your data we would be more than happy to take a look at it, and will send you our recommendation within a few days. </p>
    </li>
    <li id="what_if_my_data_doesnt_fit">
    <h3>What if my data doesn’t fit any of the templates you suggest?</h3>
    <p>As a data visualization company, we are experienced in finding the best ways to represent all types data. In the cases where your data does not fit any of our templated solutions, we can come up with a custom solution to meet your specific data visualization needs. </p>
    </li>
    <li id="i_need_some_changes">
    <h3>I think I have decided on a template, but I need some changes to it. Is this possible?</h3>
    <p>Yes. Since all our maps are made to order, we’re more than happy to discuss the specifics that you may have in mind for your map. </p>
    </li>
    <li id="my_data_is_a_mess">
    <h3>My data is a mess. Can you help me to clean it?</h3>
    <p>Absolutely. One of the reasons that we ask to analyze your data first is that we want to understand whether or not it will need to be cleaned. If indeed it does, we will inform you of how much this service will cost in your quote. </p>
    </li>
    <li id="will_have_i_the_chance_of_changing_the_map">
    <h3>Will I have the chance of changing the map you made?</h3>
    <p>We deliver all maps with their source code, so should you want to change the design at a later date, import additional data, or use it as a template for a future project you’re able to do so with MapMyData.</p>
    </li>
    <li id="how_can_i_update_my_map_data">
    <h3>How can I update my map data?</h3>
    <p>If you want to have your data editable, like for example to change a text, a value, etc. we will set up access to a CartoDB account where you can modify it like if it was an online spreadsheet. If the changes are not on the map data, but on some other elements, or you just want us to update the data for you, you can send us the updated data set and we can update it for you for a marginal fee.</p>
    </li>
    <li id="can_i_get_my_map_synchronized">
    <h3>Can I get my map synchronized with my database?</h3>
    <p>Sure. MapMyData is based on CartoDB which means that you have all the power of CartoDB APIs. This means that you can push changes through a simple REST API to make modifications on the data. Talk to us for specific integration questions, we would love to help.</p>
    </li>
  </ul>

</div>

</section>

<h2 class="section_title">&mdash; <%= t('.technical') %> &mdash;</h2>

<section class="technical">
<div class="inner">

  <ul>
    <li id="in_what_format_should_i_provide_the_data">
    <h3>In what format should I provide the data?</h3>
    <p>We accept the following file formats .csv (Comma-separated values and Tab delimited file), .zip (ESRI Shape File), .kms, .kmz (Keyhole Markup Language), .xls, .xlsx (Excel spreadsheet), .geojson, .json (GeoJSON), .gpx (GPS eXchange format), .osm, .bz2 (Open Street Map), .ods (Open Document Spreadsheet), .zip (GeoTIFF)</p>
    </li>
    <li id="what_technologies_does_mapmydata_use">
    <h3>What technologies does MapMyData use for building maps?</h3>
    <p>The mapping technology behing MapMyData is CartoDB, an open-source mapping service on the cloud. CartoDB brings together several key open-source tools, including PostgreSQL and PostGIS, in a streamlined and performance tuned system. The team behind MapMyData includes mapping experts that can squeeze the very best out of CartoDB. </p>
    </li>
    <li id="how_can_i_use_the_resulting_map">
    <h3>How can I use the resulting map in my website?</h3>
    <p>We will provide you an embed code that you can use like a Youtube video embed. This is suitable for blogs and simple websites. All our content is served from super fast Content Delivery Network (CDN) to warranty always maximum speed and reliability. But if you need to host the application code yourself let us know.</p>
    </li>
    <li id="where_will_the_visualization_be_hosted">
    <h3>Where will the visualization be hosted?</h3>
    <p>All our maps are hosted on CartoDB dedicated MapMyData instances. If you already licence a dedicated CartoDB instance, you will have the option of hosting your dataset on your own account. </p>
    <p>We host the data for you on CartoDB. If you need access to change the data let us know and we will enable a CartoDB account for you. The visualization itself is hosted on our super fast CDN but if you need to get access to the code to host it yourself you can let us know. </p>
    </li>
    <li id="is_it_possible_to_use_different_set_of_tiles">
    <h3>I want to use a different set of tiles for the base layer. Is it possible?</h3>
    <p>Yes, you can use between Google Maps, OpenStreetMaps, Mapbox, Bing maps or even your own custom base map. Also, if you dont need a basemap at all, this is also possible.</p>
    </li>
    <li id="which_browsers_do_your_maps_support">
    <h3>Which browsers do your maps support?</h3>
    <p>Our maps work out of the box on all modern browsers this includes, Google Chrome 12+, Internet Explorer 9,+ Firefox 4+, Safari 5+, Opera 9+, including most mobile browsers on iOS and Android, </p>
    </li>    
  </ul>

</div>

</section>

<h2 class="section_title">&mdash; <%= t('.pricing') %> &mdash;</h2>

<section class="pricing">
<div class="inner">

  <ul>
    <li id="why_is_the_price_an_approximation">
    <h3>Why is the price an approximation? How will I know the final price for my map?</h3>
    <p>Since data sets are formatted differently we first have to analyze if the data need to be cleaned or not, or if we will have to do more than expected data manipulation to render it properly on a map. As such we can only offer an approximation at the beginning.</p>
    <p>Once our team of data experts finish analyzing your data we will send an email to the address you provided with your inquiry with the final cost breakdown.</p>
    </li>
    <li id="for_how_long_will_it_work">
    <h3>If MapMyData hosts my map, for how long will it work? </h3>
    <p>We will host your map for an indefinite period of time, and since we host in the cloud you can be certain that your maps will scale no matter what your traffic requirements become. </p>
    </li>
    <li id="are_there_any_periodic_quotas_for_the_hosting">
    <h3>Are there any periodic quotas for the hosting?</h3>
    <p>No, there are no periodic hosting quotas with MapMyData. Your maps are hosted on our servers free of charge for as long as you may need them.</p>
    <p>This does not apply to excessive use which is determined at two million requests (tiles or data requests), including, but not limited to, requests that result from Distributed Denial of Service (DDoS) attacks, within a thirty day period will be considered Excessive Use. You may be responsible for additional fees for Excessive Use.</p>
    </li>
    <li id="what_payment_methods_does_mapmydata_accept">
    <h3>What payment methods does MapMyData accept?</h3>
    <p>We accept all major credit cards including MasterCard, Visa, Maestro, AmEx and Discover. If you’re in the United States or Canada, tax is included, for European clients, VAT is included in the price of each MapMyData project.</p>
    </li>
    <li id="can_i_get_a_discount">
    <h3>Can I get a discount?</h3>
    <p>Please get in touch with us for volume orders, dedicated CartoDB instances, and large cartography, citizen science, journalism, geocoding, GIS, or similar projects.</p>
    </li>
  </ul>

</div>

</section>

<%= render :partial => 'faq/questions' %>
<%= render :partial => 'home/footer' %>
