<% if (type) { %>

<% if (type === 'title') { %>
<h3 class="<%= type %>"> <%= title %> </h3>
<% } else { %>
<a class="<%= type %><% if (checked) {%> checked <% } %>" name="<%= name %>">
  <%= title %> <% if (price > 0) { %> $<%= price %> <% } %>
</a>

<% if (type == 'radio') { %>
<input type="hidden" <% if (disabled) {%> disabled = "disabled" <% } %> <% if (checked) {%> checked = "checked" value="<%= value %>" <% } %> class="option" name="order[<%= name %>]" />
<% } else { %>
<input type="hidden" <% if (disabled) {%> disabled = "disabled" <% } %> <% if (checked) {%> checked = "checked" value="<%= value %>" <% } %> class="option" name="order[order_options_attributes][<%= el_id %>][<%= name %>_id]" />
<% } %>

<% } %>

<% } else { %>
<%= title %> <% if (price > 0) { %> $<%= price %> <% } %>
<% } %>

<% if (description) { %>
<p><%= description %></p>
<% } %>

<% if ( price > 0 ) { %><div class="price">$<%= price %></div><% } %>

<% if (price > 0 && !checked) { %><div class="ellipsis"></div><% } %>
