
    <% if (type) { %>

      <% if (type === 'title') { %>
        <h3 class="<%= type %>"> <%= title %> </h3>
        <% } else { %>

        <a class="<%= type %> <% if (checked) {%> checked <% } %>" name="<%= name %>">
          <%= title %> <% if (price > 0) { %> $<%= price %> <% } %>
        </a>
        <% } %>

      <% } else { %>

      <%= title %> <% if (price > 0) { %> $<%= price %> <% } %>

      <% } %>

    <% if (description) { %>
      <p><%= description %></p>
      <% } %>

    <% if ( price > 0 ) { %><div class="price">$<%= price %></div><% } %>

