<nav>
  <ul>
    <li><%= link_to t('.header.menu.how_does_it_work'), '#' %></li>
    <li><%= link_to t('.header.menu.why_mapme'), '#' %></li>
    <li><%= link_to t('.header.menu.showcase'), '#' %></li>
    <li><%= link_to t('.header.menu.order_your_map'), new_order_path %></li>
    <li><%= link_to t('.header.menu.faq'), '#' %></li>
  </ul>
</nav>
