<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9]>    <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]--> 
<head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <meta name="description" content="Make beautiful interactive maps easily from your data, pick a template, send us your data, and have us geocode it for you; unlimited free hosting for your maps." />
    <meta name="keywords" content = "map, mapping, service, data, location, template, geocoding, geospatial, beautiful, interactive, dynamic" />
    

    <script type="text/javascript">

       var _gaq = _gaq || [];
       _gaq.push(['_setAccount', 'UA-34067553-1']);
       _gaq.push(['_trackPageview']);

       (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
  </script>

  </head>
  <body class="<%= controller_name %>">

    <%= yield %>
    <%= yield :js %>

  <%= yield :adwords %>
</body>
</html>
